<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sneaker.title %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @sneaker.release_year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sneaker.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sneaker.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @sneaker.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @sneaker.color %>
</p>

<%= link_to 'Edit', edit_sneaker_path(@sneaker) %> |
<%= link_to 'Back', sneakers_path %>
