
  <%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@sneaker), removeUrl: remove_from_cart_path(@sneaker)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>

<div class="large-9 small-12 column">
  <h3>
    <%= @sneaker.title %>
    (<%= @sneaker.release_year %>)
    <%=link_to @sneaker.description do%>
      <%=image_tag asset_path("3.jpg")%>
    <%end%>
    
  </h3>
  <p class="label Sneaker-label radius mb1">$ <%= @sneaker.price %></p>

  <p><%= @sneaker.description %></p>
</div>
<%= link_to 'Edit', edit_sneaker_path(@sneaker) %> |
<%= link_to 'Back', sneakers_path %>
